<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955518756891-uso4itqp8ogonimkjuf1menm0erqe9mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955518756891-uso4itqp8ogonimkjuf1menm0erqe9mi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955518756891-crqbfhl29rplpulpgsk4bb0a7svfillu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5FK8I4F7mZhEn9a9v9HOoQdlQ0_jhSH0</string>
	<key>GCM_SENDER_ID</key>
	<string>955518756891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gcw.userapp</string>
	<key>PROJECT_ID</key>
	<string>speedy-010111</string>
	<key>STORAGE_BUCKET</key>
	<string>speedy-010111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955518756891:ios:d8c343b9a3646bba1e30be</string>
	<key>DATABASE_URL</key>
	<string>https://speedy-010111-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>